*
!.gitignore
!TODO
!TREE
!README
!notify-build
!gnu.mk
!makefile
!date
!sign

!lib
!lib/*.[ch]
!lib/gnu.mk

!tst
!tst/*.c
!tst/*.sh
!tst/in-*.txt
!tst/in-*.lk
!tst/gnu.mk
!tst/forms
!tst/forms/*.lk
!tst/simple
!tst/simple/*.lk
!tst/in-syntax
!tst/in-syntax/*.txt

!sketch
!sketch/*.c

!tcn
!tcn/*.mk

!bin
!bin/*.[ch]
!bin/gnu.mk

!txt
!txt/*.txt
