*

!.gitignore
!TODO
!TREE
!README
!build
!foreign-up
!gnu.mk

!bin
!bin/dp
!bin/dp/*.[ch]
!bin/dp/gnu.mk

!lib
!lib/lime
!lib/lime/*.[ch]
!lib/lime/gnu.mk

!tst
!tst/*.c
!tst/*.sh
!tst/gnu.mk

!sketch
!sketch/*.c
