*

!.gitignore
!TODO
!TREE
!README
!build
!notify-build
!foreign-up
!gnu.mk

!bin
!bin/dp
!bin/dp/*.[ch]
!bin/dp/gnu.mk

!lib
!lib/lime
!lib/lime/*.[ch]
!lib/lime/gnu.mk

!tst
!tst/*.c
!tst/*.sh
!tst/in-*.txt
!tst/gnu.mk

!sketch
!sketch/*.c

!tcn
!tcn/*.mk
